In [15]:
import pandas as pd
import random
import string

In [10]:
queries = pd.read_csv('data/queries.csv', header=None)

In [49]:
random_string = lambda: ''.join(
    random.choices(string.ascii_uppercase + string.ascii_lowercase + string.digits, k=random.randint(1, 16)))

In [66]:
queries.head()

                                            0                             1
0                traga tudo da tabela {table}         select * from {table}
1               busque tudo da tabela {table}         select * from {table}
2                 puxe tudo da tabela {table}         select * from {table}
3                quero tudo da tabela {table}         select * from {table}
4  traga os campos {fields} da tabela {table}  select {fields} from {table}

In [86]:
dataset = []
for query in queries.itertuples():
    for i in range(1000):
        random_data = {
            "table": random_string(),
            "fields": random_string(),
            "cond": random_string(),
            "cond_value": random_string()
        }
        
        datarow = [query[1].format(**random_data), query[2].format(**random_data)]
        dataset.append(datarow)
df_dataset = pd.DataFrame(data=dataset)
df_dataset.to_csv('data/dataset_random.csv')

In [87]:
df_dataset.head()

                                      0                              1
0   traga tudo da tabela MclI67N8VJ10Li   select * from MclI67N8VJ10Li
1            traga tudo da tabela ULNB0            select * from ULNB0
2     traga tudo da tabela Th3rBIKmubdT     select * from Th3rBIKmubdT
3  traga tudo da tabela xaINqkq63QX5kR5  select * from xaINqkq63QX5kR5
4           traga tudo da tabela NEKMd0           select * from NEKMd0